body, html {
    font: 400 16px/1.5 PingFangSC-regular,Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
}
body {
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -moz-user-select: none;
    max-width: 540px;
    margin: 0 auto;
    background: #fafafc;
}
a, body {
    color: #000;
}
a{
    text-decoration: none;
}
div{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
