/* 把所有标签的内外边距清零 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 去掉li的小圆点 */
li{
    list-style: none;
}
a{
    color: #666;
    text-decoration: none;
}

em,
i{
    font-style: normal
}
img{
     /* 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
    border: 0;
     /* 取消照片底侧有空白缝隙的问题 */
     vertical-align: middle;
}
button,
input{
    border: 0;  
    outline: none;
}
body {
    background-color: #fff;
    font: 12px/1.5 'Microsoft YaHei';
    color: #666;
}