.w{
    width: 1200px;
    margin: 0 auto;
}
header{
    height: 84px;
    border-bottom: 2px  solid #c81523;
}
.logo{
  padding-top: 18px;
}
.registerarea{
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3{
    border-bottom: 1px solid #ccc;
    height: 42px;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-style: 18px;
    font-weight: normal;
}
.login{
    float: right;
    font-size: 14px;
}
.login a{
    color: #c81523;
}
.reg_form{
    width: 600px;
    margin: 50px auto 0;
}
.reg_form  ul li{
    margin-bottom: 20px;
}
.reg_form  ul li label{
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 16px;
}
.inp{
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}
.error{
    color: #c81523;
}
.error_icon{
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url(../images/delete.png) no-repeat;
}
.success{
    color: green;
}
.success_icon{
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url(../images/checked.png) no-repeat;
}
.safe{
    padding-left: 200px;
}
.safe em{
    padding: 0 10px;
}
.ruo{
    background-color: #de1111;
}
.zhong{
    background-color: #40b83f;
}
.qiang{
    background-color: #f79100;
}
.agree input{
    vertical-align: middle;
    margin-right: 5px;
}
.agree{
    padding-left: 100px;
}
.agree a{
    color: #1ba1e6;
}
.btn{
    width: 200px;
    height: 34px;
    background-color: #c81523;
    margin-left: 120px;
}